section nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin: 40px 0;
}

section nav a {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #000;

    margin: 0 10px;

    border-bottom: 2px solid #2ec5cf
}

section nav a:hover {
    color: #0d6e71; 
}

section article {
    text-align: center;
    margin: 50px 0;
}

/* Tabela de Especialidades */ 

.intro-medicos h3{
    color: #0000008c;
    font-size: 20px; 
}

.intro-medicos p {
    font-size: 18px;
    line-height: 30px;
}

.intro-medicos {
    max-width: 768px;
    margin: 0 auto 30px;
}

.tabela {
    display: flex;
    justify-content: space-around;

    max-width: 1024px;
    height: 250px;
    margin: 10px auto 30px;

}

.tabela table {
    border-spacing: 0;
    width: 70%;
    height: 100%;

}

.tabela img {
    max-width: 300px;
    height: 100%;
}

.tabela thead {
    background-color: #2ec5cf;
    color: white;
    text-align: left;
}

.tabela tr th{
    padding: 10px 15px;
    font-weight: 600;
    font-size: 16px
}

.tabela tr td{
    padding: 13px;
    font-size: 16px
}

.tabela tbody tr:nth-of-type(even) {
    background-color: #f1f1f1;
}

.tabela tbody tr:nth-of-type(odd) {
    background-color: #cdcdcd;
    border: 1px solid #f1f1f1;
}

.tabela-fisio img {
    height: 100%;
    width: 300px;
}

.tabela-fisio tr td {
    padding: 11px 13px
}

/* Responsividade */

@media (min-width: 769px) {

    .tabela {
        margin: 0 auto
    }
    .tabela-fisio {
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) { 

    .links-espec a {
        font-size: 16px
    }

    .topo-especialidades h2 {
        font-size: 20px;
        
    }
    .topo-especialidades h2 {
        margin-bottom: -30px;
    }

    .tabela img {
        display: none;
    }

    .tabela table{
        width: 95%;
        margin: 0 auto;
    }

    .intro-medicos {
        text-align: center;
    }
    .intro-medicos p {
        font-size: 16px;
    }

    .tabela tr td {
        font-size: 14px;
    } 
    .tabela {
        height: auto;
    }
}   

@media (max-width: 425px) {

    .topo-especialidades a {
        margin-top: 5px
    }

    .tabela table {
        width: 100%;
    }

    .topo-especialidades h2 {
        margin-bottom: -40px;
    }
}